.container{
  background-color: rgb(21, 20, 20);
  margin-bottom: 0;
}
@media screen and (max-width: 650px){
.container {

width: 100%;

margin : 0 auto;
border-radius : 20px;
box-shadow: 0 10px 30px rgb(0, 0, 0.2);
}
}
